<br>
<h2>Edit Profile</h2>

<% if flash.has?(:message) %>
    <span style="color:red"><%= flash[:message] %></span>
<% end %><br><br>

<div id="edit-profile-card">
    <form action="/users/<%=@user.slug%>" method="POST">
        <input id="hidden" type="hidden" name="_method" value="patch">

        <p>
            <label class="edit-profile-labels">First Name </label><br>
            <input type="text" class="edit-profile-inputs" name="first_name" value="<%= @user.first_name %>">
        </p>
        <p>
            <label class="edit-profile-labels">Last Name </label><br>
            <input type="text" class="edit-profile-inputs" name="last_name" value="<%= @user.last_name %>">
        </p>
        <p>
            <label class="edit-profile-labels">Organization </label><br>
            <input type="text" class="edit-profile-inputs" name="organization" value="<%= @user.organization if @user.organization %>">
        </p>
        <p>
            <label class="edit-profile-labels">Date of Birth </label><br>
            <input type="date" class="edit-profile-inputs" id="dob" name="date_of_birth" value="<%= @user.date_of_birth.to_s.gsub(" 00:00:00 UTC", "") %>">
        </p>
        <p>
            <label for="gender" class="edit-profile-labels">Gender </label><br>
            <select id="edit-profile-gender" name="gender">
                <% if @other_gender.size == 2 %>
                    <option value=" " selected> </option>
                <% end %>
                <%=i = 0 %>
                <% until i == @other_gender.size %>
                    <option value="<%=@other_gender[i]%>" selected><%=@other_gender[i]%></option>
                    <%=i += 1%>
                <% end %>
                <option value="<%=@user.gender%>" selected><%=@user.gender%></option>
            </select>
        </p>
        <p>
            <label class="edit-profile-labels">Email </label><br>
            <input type="text" class="edit-profile-inputs" name="email" value="<%= @user.email.downcase %>">
        </p>

        <button id="edit-profile-save-btn" class="button">Save</button>

        <p>
            <a href="/users/<%=current_user.slug%>" class="user-buttons blue-white-buttons">My Profile</a>
            <a href="/users/<%=current_user.slug%>/change_password" class="user-buttons blue-white-buttons">Change Password</a>
            <br>
            <a href="/projects" class="user-buttons white-blue-buttons user-myprojs">My Project<%= + "s" if current_user.projects.size > 1 %></a>
        </p>
    </form>
</div>