<br><% if flash.has?(:message) %>
    <span style="color:red"><%= flash[:message] %></span>
<% end %><br><br>

<h2>Edit My Profile</h2>

<form action="/users/<%=@user.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p><label>First Name </label><input type="text" name="first_name" value="<%= @user.first_name.capitalize %>"></p>
    <p><label>Last Name </label><input type="text" name="last_name" value="<%= @user.last_name.capitalize %>"></p>
    <p><label>Organization </label><input type="text" name="organization" value="<%= @user.organization.titlecase if @user.organization %>"></p>
    <p><label>Date of Birth </label><input type="date" id="dob" name="date_of_birth" value="<%= @user.date_of_birth.to_s.gsub(" 00:00:00 UTC", "") %>"></p>
    <p><label for="gender">Gender </label>
    <select name="gender">
        <% if @other_gender.size == 2 %> 
            <option value=" " selected> </option>
        <% end %>
        <%=i = 0 %>
        <% until i == @other_gender.size %>
            <option value="<%=@other_gender[i]%>" selected><%=@other_gender[i]%></option> 
            <%=i += 1%>
        <% end %>
        <option value="<%=@user.gender%>" selected><%=@user.gender%></option>
    </select></p>
    <p style="margin-bottom: 40px"><label>eMail </label><input type="text" name="email" value="<%= @user.email.downcase %>">
    <a href="/users/<%=session[:id]%>/change_password" style="margin-left: 15px">Change Password</a></p>

    <button class="button">Save</button>
   <a href="/users/<%=current_user.id%>" style="margin-left: 10px">Cancel</a>
</form>
