<br><% if flash.has?(:message) %>
    <span style="color:red"><%= flash[:message] %></span>
<% end %><br><br>

<h2>Edit My Profile</h2>

<form action="/users/<%=@user.slug%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p><label style="width: 120px; display: inline-block">First Name </label><input type="text" style="width: 300px; height: 20px; padding: 2px 5px" name="first_name" value="<%= @user.first_name %>"></p>
    <p><label style="width: 120px; display: inline-block">Last Name </label><input type="text" style="width: 300px; height: 20px; padding: 2px 5px" name="last_name" value="<%= @user.last_name %>"></p>
    <p><label style="width: 120px; display: inline-block">Organization </label><input type="text" style="width: 300px; height: 20px; padding: 2px 5px" name="organization" value="<%= @user.organization if @user.organization %>"></p>
    <p><label style="width: 120px; display: inline-block">Date of Birth </label><input type="date" style="width: 300px; height: 20px; padding: 2px 5px" id="dob" name="date_of_birth" value="<%= @user.date_of_birth.to_s.gsub(" 00:00:00 UTC", "") %>"></p>
    <p><label for="gender" style="width: 120px; display: inline-block">Gender </label>
    <select style="width: 300px; height: 30px; padding: 2px 5px" name="gender">
        <% if @other_gender.size == 2 %> 
            <option value=" " selected> </option>
        <% end %>
        <%=i = 0 %>
        <% until i == @other_gender.size %>
            <option value="<%=@other_gender[i]%>" selected><%=@other_gender[i]%></option> 
            <%=i += 1%>
        <% end %>
        <option value="<%=@user.gender%>" selected><%=@user.gender%></option>
    </select></p>
    <p style="margin-bottom: 40px"><label style="width: 120px; display: inline-block">eMail </label><input type="text" style="width: 300px; height: 20px; padding: 2px 5px" name="email" value="<%= @user.email.downcase %>"></p>

    <p style="padding-left: 50px"><button class="button" style="width:350px; height:35px">Save</button></p>
    <p style="padding-left: 50px; margin-top: 0px">
        <a href="/users/<%=current_user.slug%>" style="background: #0000ff; color: #fff; text-decoration:none; text-align: center; display: inline-block; width: 160px; height: 25px; margin-right: 0px; padding: 8px 5px 0px 5px; border: solid 2px grey; border-style: outset">My Profile</a>
        <a href="/users/<%=current_user.slug%>/change_password" style="background: #0000ff; color: #fff; text-decoration:none; text-align: center; vertical-align: middle; display: inline-block; width: 160px; height: 25px; margin: 0px; padding: 8px 5px 0px 5px; border: solid 2px grey; border-style: outset">Change Password</a>
    </p>
</form>
