<h2>My Profile</h2><br>

<%@user%>

<p><label>First Name</label><%=@user.first_name%></p>
<p><label>Last Name</label><%=@user.last_name%></p>
<p><label>Organization</label><%=@user.organization%></p>
<p><label>Date of Birth</label><%=@user.dob%></p>
<p><label>Gender</label><%=@user.gender%></p>
<p><label>eMail</label><%=@user.email%></p>