<br><% if flash.has?(:message) %>
    <%= flash[:message] %>
<% end %><br><br>

<h2>My Profile</h2><br>

<%@user%>

<p><label>First Name: </label><%=@user.first_name%></p>
<p><label>Last Name: </label><%=@user.last_name%></p>
<p><label>Organization: </label><%=@user.organization.titlecase if @user.organization %></p>
<p><label>Age: </label><%= calculate_age %></p>
<p><label>Gender: </label><%=@user.gender%></p>
<p><label>eMail: </label><%=@user.email%></p>

<br>
<a href="/users/<%=current_user.id%>/edit">Edit Profile</a>