<br><h2><%=current_user.first_name.titlecase%>'s Project<%= + "s" if current_user.projects.size > 1 %></h2>

<% if flash.has?(:message) %>
    <span style="color:red"><%= flash[:message] %></span>
<% end %><br><br>

<table style="width:100%">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th style="text-align:left;">Title</th>
            <th style="text-align:left;">Classification</th>
            <th style="text-align:left;">Phase</th>
            <th style="text-align:left;"><a href="/project_dates_analysis" title="Project Completion Analysis">Completed</a></th>
            <th style="width:3.5%"></th>
        </tr>
    </thead>
    <tbody>
        <% @projects.each.with_index(1) do |project, index|%>
            </tr>
                <td style="margin-right:10px"><%= index %></a> </td>
                <td style="margin-right:10px"><a href="/projects/<%= project.slug %>" title="View Project Details"><%=project.title%></a></td>
                <td style="margin-right:10px"><%=project.classification%></td>
                <td style="margin-right:10px"><%=project.phase%></td>
                <td><%=project.actual_end_date.strftime("%b %d, %Y") if project.actual_end_date %></td>
                <td><a href="/projects/<%=project.slug%>/edit" title="Edit Project Details">edit</a></td>
            </tr>
        <%end%>
    </tbody>
</table>
