<br>
<h2>
    <%=current_user.first_name.titlecase%>'s Project<%= + "s" if current_user.projects.size > 1 %>
    <span id="proj-idx-size-span">
        (<%= current_user.projects.size %>)
    </span>
</h2>

<% if flash.has?(:message) %>
    <span id="proj-idx-msg-span">
        <%= flash[:message] %>
    </span>
<% end %>

<div id="proj-idx-div">
    <table id="proj-idx-table">
        <thead>
            <tr>
                <th>PID</th>
                <th class="proj-idx-left-align">Title</th>
                <th class="proj-idx-left-align">Classification</th>
                <th class="proj-idx-left-align">Phase</th>
                <% if @user.projects.any? {|p| p.actual_end_date} %>
                    <th class="proj-idx-left-align""><a href="/project_dates_analysis" title="Project Completion Analysis">Completed</a></th>
                <% else %>
                    <th class="proj-idx-left-align"">Completed</th>
                <% end %>
                <th id="proj-idx-edit"></th>
            </tr>
        </thead>
        <tbody>
            <% @projects.each do |project|%>
                </tr>
                    <td id="proj-idx-td-pid" class="proj-idx-td"><%= project.id %></a> </td>
                    <td class="proj-idx-td"><a href="/projects/<%= project.slug %>" title="View Project Details"><%=project.title%></a></td>
                    <td id="proj-idx-td-class" class="proj-idx-td"><%=project.classification%></td>
                    <td id="proj-idx-td-phase"  class="proj-idx-td"><%=project.phase%></td>
                    <td id="proj-idx-td-date"><%=project.actual_end_date.strftime("%b %d, %Y") if project.actual_end_date %></td>
                    <td><a href="/projects/<%=project.slug%>/edit" title="Edit Project Details">edit</a></td>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>
