<br><h2>My Projects</h2>

<% if flash.has?(:message) %>
    <span style="color:red"><%= flash[:message] %></span>
<% end %><br><br>

<table style="width:100%">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th style="text-align: left">Title</th>
            <th style="text-align: left">Type</th>
            <th style="text-align: left">Phase</th>
        </tr>
    </thead>
    <tbody>
        <% @projects.each.with_index(1) do |project, index|%>
            </tr>
                <td style="margin-right: 10px"><%= index %></a> </td>
                <td style="margin-right: 10px"><a href="/projects/<%= project.slug %>" title="View Project Details"><%=project.title%></td>
                <td style="margin-right: 10px"><%=project.nature%></td>
                <td><%=project.phase%></td>
            </tr>
        <%end%>
    </tbody>
</table>
