<br><br>

<h2>Dates Analysis on Completed Projects</h2>

<div>
    <table style="width:100%">
        <thead>
            <tr>
                <th>PID</th>
                <th style="width:40%; text-align:left">Title</th>
                <th>Start</th>
                <th>Planned End</th>
                <th>Actual End</th>
                <th style="width:6%">Duration (days)</th>
                <th style="width:6%">On-Time</th>
                <th style="width:6%">Days Delayed</th>
            </tr>
        </thead>
        <tbody>
            <% @current_user_projects.each do |project|%>
                <% if project.planned_end_date - project.actual_end_date < 0 %>
                    <% @color = "color:red" %>
                <% elsif project.planned_end_date - project.actual_end_date == 0 %>
                    <% @color = "color:null"%>
                <% else %>
                    <% @color = "color:green" %>
                <% end %>

                <tr>
                    <td style="vertical-align:top; text-align:center"><%= project.id %></td>
                    <td><a href="/projects/<%= project.slug %>" title="View Project Details"><%= project.title %></a></td>
                    <td style="text-align:center"><%= project.start_date.strftime("%b %d, %Y") if project.start_date %></td>
                    <td style="text-align:center"><%= project.planned_end_date.strftime("%b %d, %Y") if project.planned_end_date %></td>
                    <td style="text-align:center"><%= project.actual_end_date.strftime("%b %d, %Y") if project.actual_end_date %></td>
                    <td style="text-align:center"><%= ((project.actual_end_date - project.start_date)/86400).to_i %></td>
                    <td style="text-align:center"><%= "✓" if project.actual_end_date <= project.planned_end_date %></td>
                    <td style="text-align:center; <%= @color %>"><%= ((project.planned_end_date - project.actual_end_date)/86400) < 0 ? "(#{(((project.planned_end_date - project.actual_end_date)/86400).to_i) * -1})" : ((project.planned_end_date - project.actual_end_date)/86400).to_i %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>