<br>
<h2>Dates Analysis on Completed Projects</h2>

<div id="table-div">
    <table id="analysis-table">
        <thead>
            <tr>
                <th>PID</th>
                <th id="title-th" class="col-left-align">Title</th>
                <th class="col-left-align">Start</th>
                <th class="col-left-align">Planned End</th>
                <th class="col-left-align">Actual End</th>
                <th class="col-center-align col-set-width">Duration (days)</th>
                <th class="col-center-align col-set-width">On-Time</th>
                <th class="col-center-align col-set-width">Days Delayed</th>
            </tr>
        </thead>
        <tbody>
            <% @current_user_projects.each do |project|%>
                <% if project.planned_end_date - project.actual_end_date < 0 %>
                    <% @color = "color:red" %>
                <% elsif project.planned_end_date - project.actual_end_date == 0 %>
                    <% @color = "color:null"%>
                <% else %>
                    <% @color = "color:green" %>
                <% end %>

                <% if ((project.planned_end_date - project.actual_end_date)/86400) < 0 %>
                    <% @days_delayed = "(#{(((project.planned_end_date - project.actual_end_date)/86400).to_i) * -1})" %>
                <% else %>
                    <% @days_delayed = ((project.planned_end_date - project.actual_end_date)/86400).to_i %>
                <% end %>

                <tr>
                    <td class="td-id col-center-align"><%= project.id %></td>
                    <td class="col-left-align"><a href="/projects/<%= project.slug %>" title="View Project Details"><%= project.title %></a></td>
                    <td class="col-left-align date-col-width"><%= project.start_date.strftime("%b %d, %Y") if project.start_date %></td>
                    <td class="col-left-align date-col-width"><%= project.planned_end_date.strftime("%b %d, %Y") if project.planned_end_date %></td>
                    <td class="col-left-align date-col-width"><%= project.actual_end_date.strftime("%b %d, %Y") if project.actual_end_date %></td>
                    <td class="col-center-align"><%= ((project.actual_end_date - project.start_date)/86400).to_i %></td>
                    <td class="col-center-align"><%= "✓" if project.actual_end_date <= project.planned_end_date %></td>
                    <td class="col-center-align" style="<%= @color %>"><%= @days_delayed == 0 ? "-" : @days_delayed %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>