<br><h2><label style="width: 75px; color: blue">Title: </label><%= @project.title %></h2>

<table style="width:100%; margin-bottom: 30px">
    <tr>
       <td style="float: left; margin-right: 45px; color: blue">Domain</td>
       <td style="text-align: left; width: 80%"><%=@project.domain%></td>
    </tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue">Classification</td> 
        <td style="text-align: left"><%=@project.classification%></td>
    </tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue">Type</td> 
        <td style="text-align: left"><%=@project.nature%></td>
    </tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue">Language(s)</td> 
        <td style="text-align: left"><%=@project.languages%></td>
    </tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue">Frameworks and Libraries</td> 
        <td style="text-align: left"><%=@project.libraries%></td>
    </tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue">Phase</td> 
        <td style="text-align: left"><%=@project.phase%></td>
    </tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue">Start Date</td> 
        <td style="text-align: left"><%= @project.format_dates(@project.start_date) %></td>
    </tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue">Planned End Date</td> 
        <td style="text-align: left"><%= @project.format_dates(@project.planned_end_date) %></td>
    </tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue">Actual End Date</td> 
        <td style="text-align: left"><%= @project.format_dates(@project.actual_end_date) %></td>
    </tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue" title="Version Control System URL">VCS URL</td>
        <td style="text-align: left"><a href="<%=@project.url%>" target="_blank"><%=@project.url%></a></td>
    </tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue">Notes</td> 
        <td style="text-align: left"><%=@project.notes%></td>
    </tr>
</table>

<a href="/projects">My Projects</a>
<a href="/projects/<%=@project.slug%>/edit">Edit Project</a><br><br>

<form action="/projects/<%=@project.id%>/delete" method="POST">
    <input type="hidden" id=hidden name="_method" value="delete">
    <button class="button">Delete Project</button>
</form>
