<br><h2><label style="width: 75px; color: blue">Title: </label><%= @project.title %></h2>

<table style="width:100%; margin-bottom: 30px">
    <tr>
       <td style="float: left; margin-right: 45px; color: blue">Domain</td>
       <td style="text-align: left; width: 80%"><%=@project.domain%></td>
    </tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue">Classification</td> 
        <td style="text-align: left"><%=@project.classification%></td>
    </tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue">Type</td> 
        <td style="text-align: left"><%=@project.project_type%></td>
    </tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue">Language(s)</td> 
        <td style="text-align: left"><%=@project.languages%></td>
    </tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue">Frameworks and Libraries</td> 
        <td style="text-align: left"><%=@project.libraries%></td>
    </tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue">Phase</td> 
        <td style="text-align: left"><%=@project.phase%></td>
    </tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue">Start Date</td> 
        <td style="text-align: left"><%= @project.format_dates(@project.start_date) %></td>
    </tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue">Planned End Date</td> 
        <td style="text-align: left"><%= @project.format_dates(@project.planned_end_date) %></td>
    </tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue">Actual End Date</td> 
        <td style="text-align: left"><%= @project.format_dates(@project.actual_end_date) %></td>
    </tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue" title="Version Control System URL">VCS URL</td>
        <td style="text-align: left"><a href="<%=@project.url%>" target="_blank"><%=@project.url%></a></td>
    </tr>
    <tr class="spacer"></tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue">Notes</td> 
        <td style="text-align: left"><%= @project.notes %></td>
    </tr>
    <tr class="spacer"></tr>
    <tr class="spacer"></tr>
    <tr>
        <td style="float: left; margin-right: 45px; color: blue">Last updated</td>
        <td style="text-align: left"><span style="background-color: #008000; color: white; display: inline-block; padding: 3px 15px"><%= @project.format_dates(@project.updated_at) + @project.updated_at.to_s.slice(10..18) %></span></td>
    </tr>
</table>
<div style="margin-bottom: 25px">
    <a href="/projects/<%=@project.slug%>/edit" style="background: #3572d4; color: #fff; text-decoration:none; text-align: center; display: block; width: 50%; height: 25px; margin: 10px auto; padding: 8px 5px 0px 5px; border: solid 2px grey; border-style: outset">Edit</a>
    <a href="/projects" style="background: #fff; color: #0000ff; text-decoration:none; text-align: center; display: block; width: 50%; height: 25px; margin: 10px auto; padding: 8px 5px 0px 5px; border: solid 2px grey; border-style: outset">My Projects</a>

    <form onsubmit="return confirm('Project will be deleted?')" action="/projects/<%=@project.id%>/delete" method="POST">
        <input type="hidden" id=hidden name="_method" value="delete">
        <button class="button hoverable-btn" style="text-decoration:none; text-align: center; display: block; width: 40%; height: 38px; margin: 10px auto; padding: 5px 5px 0px 5px; border: solid 2px grey; border-style: outset; cursor: pointer">Delete Project</button>
    </form>
</div>