<br>
<h2 id="dashboard-h2">My Dashboard</h2>

<div id="dashboard-div">
    <table id="dashboard-table">
        <thead>
            <tr></tr>
        </thead>

        <tbody>
            <tr>
                <td id="table-col-1">Total Projects</td>
                <td id="table-col-2"><a href="/projects" title="Projects"><%= current_user.projects.size.to_words.titlecase %> (<%= current_user.projects.size %>)</a></td>
            </tr>
            <tr class="spacer"></tr>
            <tr>
                <td>Phases</td>
                <td>Planning</td>
                <td><%= current_user.projects.where(phase: "Planning").size > 0 ? current_user.projects.where(phase: "Planning").size : "-" %></td>
            </tr>
            <tr>
                <td></td>
                <td>Development</td>
                <td><%= current_user.projects.where(phase: "Development").size > 0 ? current_user.projects.where(phase: "Development").size : "-" %></td>
            </tr>
            <tr>
                <td></td>
                <td>Testing</td>
                <td><%= current_user.projects.where(phase: "Testing").size > 0 ? current_user.projects.where(phase: "Testing").size : "-" %></td>
            </tr>
            <tr>
                <td></td>
                <td>Completed</td>
                <td><%= current_user.projects.where(phase: "Completed").size > 0 ? current_user.projects.where(phase: "Completed").size : "-" %></td>
            </tr>
            <tr>
                <td></td>
                <td>Production</td>
                <td><%= current_user.projects.where(phase: "Production").size > 0 ? current_user.projects.where(phase: "Production").size  : "-" %></td>
            </tr>
            <tr class="spacer"></tr>
            <% if @user.projects.any? {|p| p.actual_end_date} %>
                <tr>
                    <td><a href="/project_dates_analysis" title="Project Completion Analysis">Completed On-Time</a></td>
                    <td><%= @rate_of_timely_completion%>%</td>
                </tr>
                <tr class="spacer"></tr>
            <% end %>
            <tr>
                <td>Last Project Created</td>
                <td>Title</td>
                <td><a href="/projects/<%= @last_project_created.slug %>" title="Date last project created"><%= @last_project_created.title %></a></td>
            </tr>
            <tr>
                <td></td>
                <td>Date</td>
                <td><%= current_user.projects.map(&:created_at).sort.last.strftime("%b %d, %Y") %></td>
            </tr>
            <tr>
                <td></td>
                <td>Phase</td>
                <td><%= current_user.projects.sort_by {|p| p.created_at}.last.phase %></td>
            </tr>
            <tr class="spacer"></tr>
            <tr>
                <td>Last Project Edited</td>
                <td>Title</td>
                <td><a href="/projects/<%= @last_project_updated.slug%>" title="Date last project updated"><%=@last_project_updated.title%></a></td>
            </tr>
            <tr>
                <td></td>
                <td>Date & Time</td>
                <td><%= ((current_user.projects.map(&:updated_at).sort.last)- 60*60*4).strftime("%b %d, %Y %H:%M:%S") %></td>
            </tr>
            <tr>
                <td></td>
                <td>Phase</td>
                <td><%= current_user.projects.sort_by {|p| p.updated_at}.last.phase %></td>
            </tr>
        </tbody>
    </table>
</div>