<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <% if logged_in? %>
      <title>iProjs - <%=current_user.full_name%></title>
    <% else %>
      <title>iProjs</title>
    <% end %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/users.css" />
    <link rel="stylesheet" href="/stylesheets/projects.css" />
    <link rel="stylesheet" href="/stylesheets/welcome.css" />
    <link rel="stylesheet" href="/stylesheets/about.css" />

    <link rel="shortcut icon" type="image/png" href="/images/iprojs_logo.png" />
  </head>
  <body>
    <div class="wrapper">
      <div id="nav-div">
        <nav id="main-nav">
          <% if logged_in? %>
            <% if request.env["sinatra.route"] != "GET /users/:slug" %>
              <a href="/users/<%=current_user.slug%>"><%= current_user.first_name.titlecase %> <%= current_user.last_name.titlecase %></a>
            <% end %>
            <% if request.env["sinatra.route"] != "GET /users/:slug/edit" %>
              <a href="/users/<%=current_user.slug%>/edit">Edit Profile</a>
            <% end %>
            <% if !current_user.projects.empty? %>
              <% if request.env["sinatra.route"] != "GET /dashboard" %>
                <a href="/dashboard">Dashboard</a>
              <% end %>
            <% end %>
            <% if request.env["sinatra.route"] != "GET /projects/new" %>
              <a href="/projects/new">New Project</a>
            <% end %>
            <% if !current_user.projects.empty?%>
              <% if request.env["sinatra.route"] != "GET /projects" %>
                <a href="/projects">My Project<%= + "s" if current_user.projects.size > 1 %></a>
              <% end %>
            <%end%>
            <% if request.env["sinatra.route"] != "GET /about" && request.env["sinatra.route"] != "POST /signup" && request.env["sinatra.route"] != "POST /signin"%>
              <a href="/about" title="About iProjs">iProjs</a>
            <% end %>
          <% end %>
        </nav>

        <nav id="signout-nav">
          <% if logged_in? %>
            <a href="/signout">Sign out</a>
          <% end %>
        </nav>
      </div>

      <div id="yield-div">
        <%= yield %>
      </div>

      <footer class="branding">
        <small>&copy; <%= current_year %> <a href="/about" title="About iProjs" style="text-decoration:none; color:red">iProjs</a></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
